/* Basic Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .matrix { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.add-task__description {
  display: flex;
}
.incomplete-tasks__item,
.completed-tasks__item > * {
  vertical-align: middle;
}
.task__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.task__button:hover {
  color: #3a3a3a;
}
/* Heading */
.incomplete-tasks__title,
.completed-tasks__title,
.add-task__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 22px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-task:focus {
  color: #333;
}
/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}
/* Task list */
.incomplete-tasks__item,
.completed-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-check {
  margin: 0 10px;
}
.delete-img {
  height: 2em;
  transform: rotate(45deg);
  transition: transform 200ms ease-in;
}
.delete-img:hover {
  transform: rotate(0);
}
.add-task__button:hover {
  color: #0fc57c;
}
.delete-img:hover {
  color: #cf2323;
}
.description {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.completed-tasks__item 
.input-task {
  display: none;
}
.incomplete-tasks__item 
.input-task {
  display: none;
}
.edit-mode 
.input-task {
  display: inline-block;
  width: 224px;
}
.edit-mode 
.task-hidden {
  display: none;
}